<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    {% include "_nav.html" %}
    <h1> {{heading}} </h1>

    <table class="table">
        <thread>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Email</td>
                <td>Active</td>
            </tr>
        </thread>
        <tbody>
            {% for member in members %}
            <tr>
                <td>{{member.id}}</td>
                <td>{{member.name}}</td>
                <td>{{member.email}}</td>
                <td>{{'Active' if member.active else 'Inactive'}}</td>
                
            </tr>
        
            {% endfor %}

        </tbody>
    </table>
</body>
</html>